
// | PAGE |
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $white;
    font-family: $font_regular;
}

// | CONTENT DO SITE |
.content {
    width: 100%;
    height: calc(100vh - 91px);
    overflow: hidden;
    @include display;

    .aside {
        width: 350px;
        height: calc(100vh - 91px);
        overflow: hidden;
  
        .aside_header {
            width: inherit;
            height: 70px;
            padding: 10px 30px 0 30px;

            .aside_header_content {
                width: 100%;
                height: 100%;
                @include display;
                @include align(center);
                @include justify(center);
                font-family: $font_extra;
                font-size: 25px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $color;
                border-bottom: 1px solid $grey; 
            }
        }

        .aside_content {
            width: 100%;
            height: 100%;
            overflow: auto;
            border-right: 1px solid $grey;
            padding: 30px;
            
            .aside_content_img {}
            
            .aside_content_text {
                padding-top: 30px;
                font-family: $font_regular;
                font-size: 13px;
                letter-spacing: 1.2px;
                line-height: 25px;
                color: $black;
            }
        }
    }
    
    .main {
        width: calc(100% - 350px);
        height: inherit;
        overflow: hidden;
        padding: 0 15px;

        .navbar {
            width: 100%;
            height: 70px;
            border-bottom: 1px solid $grey;
        }

        .section {
            width: 100%;
            height: calc(100vh - 70px - 91px);
            overflow: auto;
        }
    }
}

