// |  MEDIA QUERIES |
@media (max-width: 730px) {
    .footer {    
        .div_footer {
            @include flex_direction(collumn);
                    
            .div_copy {
                text-align: center;
                @include justify(center);
                margin-bottom: 25px;
            }
        
            .div_social {
                @include justify(center);
            }
        }
    }
}

@media (max-width: 430px) {
    .footer {    
        .div_footer {
            padding: 0 10px;

            .div_social {
                .nav {
                    .nav-item {
                        margin: 0 5px;
    
                        .nav-link {
                            width: 40px;
                            height: 40px;
                            padding: 5px;
                            
                            img {
                                width: 15px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}