@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

@font-face {
  font-family: JetBrainsMono-ExtraBold;
  src: url(/fonts/JetBrainsMono-ExtraBold.woff?bd0cd45ba80883a87d122a5b23f92a18) format("woff"), url(/fonts/JetBrainsMono-ExtraBold.woff2?b4cbea3bea031e43d18bb0acdd67fb72) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-variation-settings: normal;
  font-feature-settings: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url(/fonts/JetBrainsMono-Bold.woff?896f23850b33cd1df94eb955d4b60079) format("woff"), url(/fonts/JetBrainsMono-Bold.woff2?a492f7427b1561cc96ace88f5756d94e) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-variation-settings: normal;
  font-feature-settings: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url(/fonts/JetBrainsMono-Regular.woff?2fe9a2bdaa6daf61e770a2edb7252040) format("woff"), url(/fonts/JetBrainsMono-Regular.woff2?21ba2c11275a07ccf3890fbeab585525) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-variation-settings: normal;
  font-feature-settings: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: JetBrainsMono-Light;
  src: url(/fonts/JetBrainsMono-Light.woff?cc82029acef61b268f5b5fb79bc8ee08) format("woff"), url(/fonts/JetBrainsMono-Light.woff2?cc5b4a90b4714285630354f9979b125c) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  font-variation-settings: normal;
  font-feature-settings: normal;
  unicode-range: U+0-10FFFF;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.animate_infinite {
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}

.loader_content {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 4000;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #EFEFEF;
  border-left-color: #1FBB55;
}

.title {
  font-family: JetBrainsMono-ExtraBold;
  color: #1FBB55;
}

.subtitle {
  font-family: JetBrainsMono-Bold;
  color: #9FDE89;
}

.text {
  font-family: JetBrainsMono-Regular;
  font-size: 14px;
  color: #363636;
  margin-bottom: 0;
}

.text_sm {
  font-family: JetBrainsMono-Light;
  font-size: 13px;
  color: #363636;
  margin-bottom: 0;
}

.text_variant {
  font-family: JetBrainsMono-Light;
  font-size: 13px;
  font-weight: 600;
  color: #363636;
  margin-bottom: 0;
}

.nav_row {
  width: 100%;
  height: auto;
  padding: 5px;
}

.nav_row .nav_row_item {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.nav_collumn {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.nav_collumn .nav_collumn_item {
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 5px;
  margin-bottom: 5px;
}

.nav_collumn .nav_collumn_item .nav_collumn_link {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav_collumn .nav_collumn_item .nav_collumn_link .back_icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #FFFFFF;
}

.nav_collumn .nav_collumn_item .nav_collumn_link .back_icon .icon {
  font-size: 13px;
  color: #9FDE89;
}

.nav_collumn .nav_collumn_item .nav_collumn_link.collapsed::after {
  content: "\EA6A";
  font-family: "Nucleo Outline";
  font-size: 9px;
  color: #363636;
  margin-left: auto;
}

.nav_collumn .nav_collumn_item .nav_collumn_link[aria-expanded=true].back_text {
  background-color: #F4F3F8;
}

.nav_collumn .nav_collumn_item .nav_collumn_link[aria-expanded=true] .back_icon {
  background-color: rgba(71, 197, 81, 0.1);
}

.nav_collumn .nav_collumn_item .nav_collumn_link[aria-expanded=true] .back_icon i {
  color: #1FBB55;
}

.nav_collumn .nav_collumn_item .nav_collumn_link[aria-expanded=true]::after {
  content: "\EA6D";
  font-family: "Nucleo Outline";
  font-size: 9px;
  color: #363636;
  margin-left: auto;
}

.nav_collumn .nav_collumn_item .nav_collumn_link.nav_collumn_link_interno::before {
  content: "";
  width: 5px;
  height: 5px;
  border: none;
  border-radius: 100%;
  background-color: #9FDE89;
  margin-right: 10px;
}

.nav_collumn .nav_collumn_item:hover .nav_collumn_link .back_icon {
  background-color: rgba(71, 197, 81, 0.1);
}

.nav_collumn .nav_collumn_item:hover .nav_collumn_link .back_icon i {
  color: #1FBB55;
}

.nav_collumn .nav_collumn_item .collapse {
  width: calc(100% - 20px);
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  padding: 10px;
  margin-top: 7px;
}

.nav_rede_social .nav-item {
  margin: 0 5px;
}

.nav_rede_social .nav-item .nav-link {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_rede_social .nav-item .nav-link:hover .back_icon {
  background-color: rgba(71, 197, 81, 0.1);
}

.nav_rede_social .nav-item .nav-link:hover .back_icon svg path {
  fill: #1FBB55;
}

.nav-tabs {
  width: 100%;
  height: 90px;
  border: 1px solid #E7E9EE;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #F4F3F8;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.nav-tabs .nav-item {
  height: inherit;
}

.nav-tabs .nav-item .nav-link {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #363636;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item .nav-link:hover,
.nav-tabs .nav-item .nav-link.active {
  color: #363636;
  border-bottom: 2px solid #1FBB55;
}

.tab-content {
  border: 1px solid #E7E9EE;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
  padding: 30px 20px;
}

.dropdown .dropdown-toggle::after {
  content: "\EA6A";
  font-family: "Nucleo Outline";
  font-size: 9px;
  color: #363636;
  margin-left: 10px;
  border: none !important;
}

.dropdown .dropdown-toggle[aria-expanded=true].back_text {
  background-color: #F4F3F8;
}

.dropdown .dropdown-toggle[aria-expanded=true]::after {
  content: "\EA6D";
  font-family: "Nucleo Outline";
  font-size: 9px;
  color: #363636;
  margin-left: 10px;
}

.dropdown .dropdown-menu {
  padding: 20px;
  border-radius: 7px;
  border: 1px solid #F4F3F8;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.dropdown .dropdown-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  z-index: -1;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #FFFFFF;
  border-left: 4px solid transparent;
}

.dropdown .dropdown-menu .dropdown-item {
  font-family: JetBrainsMono-Light;
  font-weight: 600;
  font-size: 14px;
  color: #363636;
  padding: 5px;
  margin-left: 0;
  cursor: pointer !important;
}

.dropdown .dropdown-menu .dropdown-item .icon {
  font-weight: 500;
  margin-right: 10px;
}

.dropdown .dropdown-menu .dropdown-item:before {
  content: ".";
  color: #9FDE89;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  border-radius: 7px;
  background-color: rgba(71, 197, 81, 0.1);
}

.dropdown .dropdown-menu .dropdown-item:hover:before {
  color: #1FBB55;
}

.drop_search {
  width: 250px;
}

.drop_search .nav-link::after {
  display: none;
}

.drop_search .dropdown-menu {
  padding: 5px;
}

.drop_search .dropdown-menu::before,
.drop_search .dropdown-menu .dropdown-item::before {
  display: none;
}

.drop_search .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.drop_user {
  width: 250px;
  padding: 0 !important;
  border-radius: 0;
  border: 1px solid #F4F3F8;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
}

.drop_user .drop_header {
  width: 100%;
  height: 60px;
  background-color: #9FDE89;
  padding: 15px;
}

.drop_user .drop_header .avatar {
  border: none;
  margin-top: 17px;
}

.drop_user .drop_body {
  padding: 50px 0 20px 0;
}

.drop_user .drop_body .dropdown-item {
  font-family: JetBrainsMono-Light;
  font-size: 16px;
  color: #363636;
}

.drop_user .drop_body .dropdown-item .icon {
  font-weight: 500;
  margin-left: 15px;
}

.drop_user .drop_body .dropdown-item:before {
  display: none;
}

.drop_user .drop_footer {
  padding: 10px 25px;
  border-top: 1px solid #E7E9EE;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  font-family: JetBrainsMono-Regular;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #363636;
  text-decoration: none;
  margin: 0 10px;
}

a:hover,
a:focus {
  color: #1FBB55;
  font-weight: 600;
  text-decoration: none;
}

a.active {
  color: #9FDE89;
  font-weight: 600;
  text-decoration: none;
}

.link_action {
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 12px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.178);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
}

.link_action i {
  font-size: 18px;
  color: #363636;
}

.link_action:focus,
.link_action:hover {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background-color: rgba(71, 197, 81, 0.1);
}

.link_action:focus i,
.link_action:hover i {
  color: #1FBB55;
}

.link_action.link_table {
  width: 35px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
}

.link_action.link_table i {
  font-size: 14px;
}

.button {
  font-family: JetBrainsMono-Light;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.3px;
  text-align: center;
  text-decoration: none;
  color: #1FBB55;
  border-radius: 7px;
  background-color: rgba(71, 197, 81, 0.1);
  padding: 10px 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button i {
  color: inherit;
  margin-left: 8px;
  margin-right: 8px;
}

.button:focus,
.button:hover {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.178);
}

.button.full {
  width: 100%;
}

.button_solid_mat {
  color: #363636;
  border: none;
  background-color: #9FDE89;
}

.button_solid_success {
  color: #FFFFFF;
  border: none;
  background-color: #1FBB55;
}

.button_solid_primary {
  color: #FFFFFF;
  border: none;
  background-color: #0086FF;
}

.button_solid_warning {
  color: #363636;
  border: none;
  background-color: #FFB657;
}

.button_solid_danger {
  color: #FFFFFF;
  border: none;
  background-color: #FF7070;
}

.button_solid_clear {
  color: #363636;
  border: none;
  background-color: #EFEFEF;
}

.button_outline_mat {
  color: #363636;
  border: 2px solid #9FDE89;
  background-color: transparent;
}

.button_outline_mat:focus,
.button_outline_mat:hover {
  background-color: #9FDE89;
}

.button_outline_success {
  color: #1FBB55;
  border: 2px solid #1FBB55;
  background-color: transparent;
}

.button_outline_success:focus,
.button_outline_success:hover {
  color: #FFFFFF;
  background-color: #1FBB55;
}

.button_outline_primary {
  color: #0086FF;
  border: 2px solid #0086FF;
  background-color: transparent;
}

.button_outline_primary:focus,
.button_outline_primary:hover {
  color: #FFFFFF;
  background-color: #0086FF;
}

.button_outline_warning {
  color: #FFB657;
  border: 2px solid #FFB657;
  background-color: transparent;
}

.button_outline_warning:focus,
.button_outline_warning:hover {
  color: #363636;
  background-color: #FFB657;
}

.button_outline_danger {
  color: #FF7070;
  border: 2px solid #FF7070;
  background-color: transparent;
}

.button_outline_danger:focus,
.button_outline_danger:hover {
  color: #FFFFFF;
  background-color: #FF7070;
}

.button_outline_clear {
  color: #363636;
  border: 2px solid #EFEFEF;
  background-color: transparent;
}

.button_outline_clear:focus,
.button_outline_clear:hover {
  background-color: #EFEFEF;
}

.button_icon {
  width: 42px;
  height: 42px;
  margin: 5px;
  border: none;
  border-radius: 12px;
  background-color: rgba(71, 197, 81, 0.1);
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.178);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button_icon i {
  font-size: 18px;
  color: #1FBB55;
}

.button_icon:focus,
.button_icon:hover {
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  background-color: rgba(71, 197, 81, 0.1);
}

.button_icon:focus i,
.button_icon:hover i {
  color: #1FBB55;
}

.button_icon.link_table {
  width: 35px;
  height: 35px;
}

.button_icon.link_table i {
  font-size: 14px;
}

.button_icon_solid_mat {
  background-color: #9FDE89;
}

.button_icon_solid_mat i {
  color: #363636;
}

.button_icon_solid_mat:hover {
  background-color: #9FDE89;
}

.button_icon_solid_mat:hover i {
  color: #363636;
}

.button_icon_solid_success {
  background-color: #1FBB55;
}

.button_icon_solid_success i {
  color: #FFFFFF;
}

.button_icon_solid_success:hover {
  background-color: #1FBB55;
}

.button_icon_solid_success:hover i {
  color: #FFFFFF;
}

.button_icon_solid_primary {
  background-color: #0086FF;
}

.button_icon_solid_primary i {
  color: #FFFFFF;
}

.button_icon_solid_primary:hover {
  background-color: #0086FF;
}

.button_icon_solid_primary:hover i {
  color: #FFFFFF;
}

.button_icon_solid_warning {
  background-color: #FFB657;
}

.button_icon_solid_warning i {
  color: #363636;
}

.button_icon_solid_warning:hover {
  background-color: #FFB657;
}

.button_icon_solid_warning:hover i {
  color: #363636;
}

.button_icon_solid_danger {
  background-color: #FF7070;
}

.button_icon_solid_danger i {
  color: #FFFFFF;
}

.button_icon_solid_danger:hover {
  background-color: #FF7070;
}

.button_icon_solid_danger:hover i {
  color: #FFFFFF;
}

.button_icon_solid_clear {
  background-color: #EFEFEF;
}

.button_icon_solid_clear i {
  color: #363636;
}

.button_icon_solid_clear:hover {
  background-color: #EFEFEF;
}

.button_icon_solid_clear:hover i {
  color: #363636;
}

.button_icon_outline_mat {
  background-color: #FFFFFF;
}

.button_icon_outline_mat i {
  color: #9FDE89;
}

.button_icon_outline_mat:hover {
  background-color: #9FDE89;
}

.button_icon_outline_mat:hover i {
  color: #363636;
}

.button_icon_outline_clear {
  background-color: #FFFFFF;
}

.button_icon_outline_clear i {
  color: #363636;
}

.button_icon_outline_clear:hover {
  background-color: #EFEFEF;
}

.button_icon_outline_clear:hover i {
  color: #363636;
}

.button_icon_outline_success {
  background-color: #FFFFFF;
}

.button_icon_outline_success i {
  color: #1FBB55;
}

.button_icon_outline_success:hover {
  background-color: #1FBB55;
}

.button_icon_outline_success:hover i {
  color: #FFFFFF;
}

.button_icon_outline_primary {
  background-color: #FFFFFF;
}

.button_icon_outline_primary i {
  color: #0086FF;
}

.button_icon_outline_primary:hover {
  background-color: #0086FF;
}

.button_icon_outline_primary:hover i {
  color: #FFFFFF;
}

.button_icon_outline_warning {
  background-color: #FFFFFF;
}

.button_icon_outline_warning i {
  color: #FFB657;
}

.button_icon_outline_warning:hover {
  background-color: #FFB657;
}

.button_icon_outline_warning:hover i {
  color: #363636;
}

.button_icon_outline_danger {
  background-color: #FFFFFF;
}

.button_icon_outline_danger i {
  color: #FF7070;
}

.button_icon_outline_danger:hover {
  background-color: #FF7070;
}

.button_icon_outline_danger:hover i {
  color: #FFFFFF;
}

.button_dropdown {
  padding: 8px 15px;
  margin: 5px;
  border-radius: 2px;
  border: none;
  background-color: #9FDE89;
  text-decoration: none;
}

.button_dropdown span {
  font-family: JetBrainsMono-Regular;
  font-size: 13px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.button_dropdown i {
  font-size: 13px;
  color: #FFFFFF;
  margin-right: 10px;
}

.button_dropdown:hover {
  text-decoration: none;
  background-color: #1FBB55;
}

.card_content {
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin: 5px 10px;
}

.card_content .card_header {
  height: 70px;
  padding: 15px 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #E7E9EE;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_content .card_header .title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #1FBB55;
  margin-bottom: 0;
}

.card_content .card_body {
  padding: 30px;
}

.card_content form {
  width: 100%;
}

.card_infos {
  flex: 1;
  width: 100%;
  height: auto;
  margin: 20px 10px;
  border-radius: 12px;
  border: 1px solid #E7E9EE;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_infos::before,
.card_infos::after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #9FDE89;
  border-radius: 32px;
}

.card_infos::before {
  transform: translateY(-50%);
}

.card_infos::after {
  transform: translateY(50%);
}

.card_infos:hover {
  cursor: pointer;
  background-color: transparent;
  transform: translateY(-15px);
  transition-property: transform, background-color;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.card_infos:hover .badge-primary {
  background: linear-gradient(90deg, #9FDE89, #1FBB55);
}

.card_infos img {
  width: 150px;
  height: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.card_infos .text_sm {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 25px;
}

.form-group {
  margin-top: 16px;
  margin-bottom: 16px;
}

label {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}

label.custom-control-label {
  padding-top: 4px;
}

textarea.form-control {
  height: 120px !important;
  resize: none;
}

input[type=file i] {
  background-color: transparent;
  font-family: JetBrainsMono-Light;
  font-size: 11px;
  cursor: pointer;
}

.checkbox_ .custom-control-label::before,
.checkbox_ .custom-control-label::after {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 7px;
  background-color: #EFEFEF;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.checkbox_ .custom-control-input {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 7px;
  background-color: #EFEFEF;
  outline: 0;
  box-shadow: none;
  cursor: pointer;
}

.checkbox_ .custom-control-input:checked ~ .custom-control-label::before,
.checkbox_ .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #9FDE89;
  outline: 0;
  box-shadow: none;
}

.form-control {
  height: 40px;
  padding: 5px 25px;
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  background-color: #FFFFFF;
  font-family: JetBrainsMono-Light;
  font-size: 14px;
}

.form-control.placeholder {
  font-family: JetBrainsMono-Light;
  font-size: 12px;
  color: #363636;
}

.form-control:-moz-placeholder {
  font-family: JetBrainsMono-Light;
  font-size: 12px;
  color: #363636;
}

.form-control::-moz-placeholder {
  font-family: JetBrainsMono-Light;
  font-size: 12px;
  color: #363636;
}

.form-control:-ms-input-placeholder {
  font-family: JetBrainsMono-Light;
  font-size: 12px;
  color: #363636;
}

.form-control::-webkit-input-placeholder {
  font-family: JetBrainsMono-Light;
  font-size: 12px;
  color: #363636;
}

.form-control:focus,
.form-control:hover {
  outline: 0;
  box-shadow: none;
  border-color: #E7E9EE;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #FFFFFF;
}

.form-control.line {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #E7E9EE;
}

.form-control.line:focus {
  border-bottom-color: #9FDE89 !important;
}

.search_box {
  display: flex;
  align-items: center;
  position: relative;
}

.search_box::after {
  content: "\E6BA";
  font-family: "Nucleo Outline";
  font-size: 15px;
  color: #363636;
  position: absolute;
  right: 10px;
}

.avatar_back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 1px solid #F4F3F8;
  background-color: rgba(71, 197, 81, 0.1);
  margin: 5px;
}

.avatar_small {
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
}

.avatar_large {
  width: 92px;
  height: 92px;
  min-width: 92px;
  min-height: 92px;
}

.avatar_img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.avatar_infos {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 5px;
}

.avatar_infos .text {
  font-weight: 600;
  font-size: 10px !important;
  color: #363636 !important;
}

.modal .modal-content {
  border: none;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.modal .modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-color: #E7E9EE;
  padding: 0;
}

.modal .modal-header .link_action {
  position: absolute;
  top: 0;
  right: 0;
}

.modal .modal-header .title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin-bottom: 0;
}

.modal .modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.modal .modal-body .div_title .title {
  font-size: 17px;
  color: #363636;
  text-align: center;
  text-transform: uppercase;
}

.modal.modal_simple .modal-header {
  width: 100%;
  height: auto;
  border-bottom: none;
  background-color: #F4F3F8;
  position: relative;
}

.modal.modal_padrao .modal-header {
  height: 150px;
  border-bottom: none;
  background: linear-gradient(90deg, #9FDE89, #1FBB55);
}

.modal.modal_padrao .modal-header img {
  width: 250px;
  height: auto;
  position: absolute;
  top: 15px;
  right: 30px;
}

.list-group {
  border: 1px solid #E7E9EE;
  border-radius: 6px;
}

.list-group .list-group-item {
  padding: 15px;
  border-color: #F4F3F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group .list-group-item .left {
  flex: 1;
  font-family: JetBrainsMono-Regular;
  font-size: 10px;
}

.list-group .list-group-item .left .back_icon {
  width: 30px;
  height: 30px;
}

.list-group .list-group-item .left .back_icon i {
  font-size: 12px;
}

.list-group .list-group-item .right {
  flex: 2;
}

.list-group .list-group-item.active {
  background-color: #F4F3F8;
  background: linear-gradient(90deg, #9FDE89, #1FBB55);
}

.list-group .list-group-item.active .left .back_icon {
  background-color: #FFFFFF;
}

.list_notification {
  padding: 30px;
}

.list_notification .list-group-item {
  position: relative;
  border: none;
  border-left: 1px solid #E7E9EE;
  padding: 30px 1.25rem;
  display: flex;
  align-items: center;
}

.list_notification .list-group-item .back_icon {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  background-color: rgba(71, 197, 81, 0.1);
  box-shadow: 0 1px 3px 0 rgba(32, 33, 36, 0.178);
}

.list_notification .list-group-item .back_icon i {
  color: #1FBB55;
}

.list_notification .list-group-item .text_sm {
  margin-left: 20px;
  text-align: justify;
}

.list_notification .list-group-item.active,
.list_notification .list-group-item:hover {
  background-color: #F4F3F8;
}

.list_notification .list-group-item.active .back_icon,
.list_notification .list-group-item:hover .back_icon {
  background: linear-gradient(90deg, #9FDE89, #1FBB55);
}

.list_notification .list-group-item.active .back_icon i,
.list_notification .list-group-item:hover .back_icon i {
  color: #FFFFFF;
}

.back_text {
  padding: 10px 15px !important;
  border: none;
  border-radius: 12px;
  background-color: #F4F3F8;
}

.back_text:hover {
  background-color: rgba(71, 197, 81, 0.1);
}

.back_text.active {
  background-color: #1FBB55;
}

.back_text.active .text,
.back_text.active .text_sm {
  color: #FFFFFF !important;
}

.back_icon {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid #E7E9EE;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back_icon i {
  font-size: 17px;
  color: #363636;
}

.back_icon svg,
.back_icon img {
  width: 16px;
  height: auto;
}

.back_icon svg path {
  fill: #363636;
}

.back_icon:hover {
  background-color: rgba(71, 197, 81, 0.1);
}

.back_icon:hover i {
  color: #1FBB55;
}

.back_icon .badge_notification {
  position: absolute;
  top: -2px;
  right: 0;
}

.div_title {
  margin-bottom: 20px;
}

.div_title .title {
  font-size: 20px;
  letter-spacing: 1.5px;
  color: #363636;
}

.div_title .text,
.div_title .text_sm,
.div_title .text_sm.text_sm_variant {
  text-align: justify;
}

.div_content {
  width: 100%;
  height: auto;
  padding: 0px 20px;
}

.bloco {
  width: 100%;
  height: auto;
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  padding: 15px;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bloco.bloco_collumn {
  align-items: baseline;
  flex-direction: column;
}

.badge {
  padding: 10px;
  color: #363636;
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  background-color: #9FDE89;
  margin: 5px;
}

.badge.badge_normal {
  color: #FFFFFF;
  background-color: #0086FF;
}

.badge.badge_warning {
  background-color: #FFB657;
}

.badge.badge_danger {
  color: #FFFFFF;
  background-color: #FF7070;
}

.badge_notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1FBB55;
}

.popover {
  font-family: JetBrainsMono-Light;
  padding: 5px 15px;
  border: 1px solid #E7E9EE;
  border-radius: 14px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.08);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: #9FDE89;
}

table::-webkit-scrollbar {
  height: 8px;
}

.none {
  display: none;
}

.small {
  min-width: 100px;
  max-width: 100px;
}

.large {
  width: calc(100% - 100px) !important;
}

.full {
  width: 100% !important;
}

.datatable {
  width: 100%;
  border-radius: 14px;
  border: 1px solid #E7E9EE;
  padding: 10px;
  margin: 5px;
  display: block;
}

.datatable .datatable_header {
  padding: 20px 5px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datatable .datatable_header .datatable_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.datatable .datatable_header .datatable_filter .datatable_filter_items {
  margin: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.datatable .datatable_header .datatable_filter .datatable_filter_items label {
  margin-right: 10px;
}

.datatable > .datatable_table {
  table-layout: auto;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  overflow: hidden;
  display: block;
  overflow-x: auto;
}

.datatable > .datatable_table > .datatable_head,
.datatable > .datatable_table > .datatable_body {
  display: block;
}

.datatable > .datatable_table > .datatable_head .datatable_row,
.datatable > .datatable_table > .datatable_body .datatable_row {
  width: 100%;
  border-bottom: 1px solid #E7E9EE;
  display: table;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1rem;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item > span {
  width: 112px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  color: #363636;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span > i,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item > span > i {
  display: inline-block;
  position: relative;
  right: -10px;
  line-height: 0;
  vertical-align: middle;
  font-size: 1.1rem;
  color: #3699FF;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span.datatable_button,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item > span.datatable_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span .datatable_checkbox label::before,
.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span .datatable_checkbox label::after,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item > span .datatable_checkbox label::before,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item > span .datatable_checkbox label::after {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 7px;
  background-color: #EFEFEF;
  outline: 0;
  box-shadow: none;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item.datatable_item_check > span,
.datatable > .datatable_table > .datatable_body .datatable_row .datatable_item.datatable_item_check > span {
  width: 20px;
  overflow: visible;
}

.datatable > .datatable_table > .datatable_head {
  border-top: 1px solid #E7E9EE;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item {
  text-align: center !important;
  border-right: 1px solid #E7E9EE;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item:last-child {
  border-right: none;
}

.datatable > .datatable_table > .datatable_head .datatable_row .datatable_item > span {
  font-weight: 600;
  text-transform: uppercase;
}

.datatable > .datatable_footer {
  margin: 0px;
  padding: 25px 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.datatable > .datatable_footer > .datatable_footer_nav {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.datatable > .datatable_footer > .datatable_footer_nav > li {
  display: inline-block;
  padding: 0;
}

.datatable > .datatable_footer > .datatable_footer_nav > li > .datatable_footer_link {
  min-width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  color: #363636;
  border-radius: 0.42rem;
  background-color: #F4F3F8;
}

.datatable > .datatable_footer > .datatable_footer_nav > li > .datatable_footer_link > i {
  font-size: 12px;
  text-align: center;
  color: #363636;
}

.datatable > .datatable_footer > .datatable_footer_nav > li > .datatable_footer_link.datatable_footer_link_disabled {
  cursor: default;
  opacity: 0.6;
}

.datatable > .datatable_footer > .datatable_footer_nav > li > .datatable_footer_link.datatable_footer_link_active {
  color: #363636;
  background-color: #9FDE89;
}

.datatable > .datatable_footer > .datatable_footer_nav > li > .datatable_footer_link:hover:not(.datatable_footer_link_disabled) {
  opacity: 1;
  background-color: #1FBB55;
}

.datatable > .datatable_footer > .datatable_footer_info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.datatable > .datatable_footer > .datatable_footer_info .datatable_footer_size {
  width: 60px;
  padding: 5px;
  margin-right: 10px;
}

.datatable > .datatable_footer > .datatable_footer_info .datatable_footer_size option {
  color: #363636;
}

.datatable > .datatable_footer > .datatable_footer_info .datatable_footer_detail {
  font-size: 12px;
  color: #363636;
}

.main_error {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_error .div_error {
  text-align: center;
}

.main_error .div_error img {
  width: 500px;
  height: auto;
  display: block;
  margin: 30px auto;
}

.auth_page,
.auth_main,
.auth_section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.auth_section {
  padding: 30px;
  background-color: #9FDE89;
  background-image: url(/images/back.png?0d0dd0b7c630e0acfa82def6d0331130), linear-gradient(90deg, #9FDE89, #1FBB55);
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_card {
  width: 500px;
  height: 570px;
  border: 1px solid #E7E9EE;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.1);
}

.auth_card .div_title {
  margin-bottom: 30px;
  text-align: center;
}

.auth_card .div_title .text_sm {
  font-size: 15px;
}

.auth_card .div_title .logo {
  width: 90px;
}

.auth_card .button {
  min-width: 200px;
}

.copy {
  position: fixed;
  left: 50%;
  bottom: 15px;
  transform: translate(-50%);
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: JetBrainsMono-Regular;
  background-color: #FFFFFF;
}

.page_content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  display: flex;
}

.main {
  width: calc(100% - 280px);
  height: inherit;
  overflow: hidden;
}

.navbar {
  z-index: 2;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.11);
  padding-left: 0;
}

.navbar .navbar-brand {
  width: 280px;
  height: calc(70px - 20px);
  margin: 0;
  border-right: 1px solid #E7E9EE;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar .navbar-brand.small img {
  width: 70px;
}

.navbar .navbar-brand img {
  width: 100px;
  height: auto;
}

.navbar .navbar-brand .link_action {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  z-index: 20;
}

.navbar .navbar-collapse {
  padding-left: 30px;
}

.navbar .navbar-nav {
  height: 70px;
}

.navbar .navbar-nav .nav-item {
  height: inherit;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

.navbar .navbar-nav .nav-item.dropdown.show .nav-link.back_text {
  background-color: #F4F3F8;
}

.navbar .navbar-nav .nav-item .nav-link {
  margin: 0px 5px;
}

.navbar .navbar-nav .nav-item .nav-link.user {
  display: flex;
  align-items: center;
}

.navbar .navbar_user .nav-item .nav-link {
  margin: 0;
}

.sidebar {
  z-index: 1;
  position: relative;
  width: 280px;
  height: inherit;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.11);
}

.sidebar .link_action {
  position: absolute;
  top: 70px;
  right: 0;
  transform: translateX(-50%);
  z-index: 20;
}

.sidebar .sidebar_content {
  width: 100%;
  height: inherit;
  overflow: auto;
  padding: 20px 10px;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-content: flex-start;
  flex-direction: column;
}

.sidebar.small .sidebar_search .search_box {
  display: none;
}

.sidebar_app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 350px;
  height: 100vh;
  border: none;
  background-color: #FFFFFF;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.section {
  width: 100%;
  height: calc(100% - 60px);
  overflow: auto;
  background-color: #F4F3F8;
  padding: 20px;
}

.footer {
  width: 100%;
  height: 60px;
  border-top: 1px solid #E7E9EE;
  background-color: #FFFFFF;
  box-shadow: 0px -10px 30px 0px rgba(82, 63, 105, 0.08);
}

.div_footer {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.div_copy_cliente {
  width: 100%;
  justify-content: flex-start;
}

.div_copy_empresa {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.div_copy_empresa .digitaliza {
  color: #1FBB55;
}

.aside_back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.aside {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 350px;
  height: 100vh;
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13);
  padding: 15px;
}

.aside .aside_body {
  width: 100%;
  height: 100%;
  border: 1px solid #E7E9EE;
  border-radius: 7px;
  overflow: auto;
}

.aside .aside_body .aside_action {
  position: absolute;
  top: 70px;
  left: 0;
  transform: translateX(-50%);
  z-index: 20;
}

.aside .aside_body .aside_content {
  padding: 25px 15px;
}

.aside_content .avatar {
  margin-bottom: 15px;
}

.tab-content .card_content {
  box-shadow: none !important;
}

.aside_small {
  min-width: 100px;
  max-width: 100px;
}

.aside_large {
  width: 450px;
}

.collapse.show {
  width: 100%;
}

@media (min-width: 800px) and (max-width: 975px) {
  .navbar-brand {
    width: 100px;
  }

  .navbar-brand img {
    width: 70px;
  }
}

@media (min-width: 800px) {
  .navbar_user .nav-item #sidebar_action_mobile {
    display: none;
  }

  .sidebar .aside_action {
    display: none;
  }

  .navbar_user .toggle-asideNavbar {
    display: none;
  }
}

@media (max-width: 799px) {
  .navbar-brand {
    width: 150px;
  }

  .navbar-brand img {
    width: 80px;
  }

  .navbar-brand #sidebar_action {
    display: none;
  }

  .navbar_user {
    margin-left: auto;
  }

  .navbar_opc {
    display: none;
  }

  .aside {
    left: 0;
  }

  .aside.fadeInRight {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  .aside .aside_body .aside_action {
    right: 0;
    left: auto;
    transform: translateX(50%);
  }

  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px 10px;
  }

  .card_content .card_body {
    padding: 20px 10px;
  }
}

@media (max-width: 500px) {
  .dataTables_wrapper {
    padding: 20px;
  }

  .dataTables_wrapper .dataTables_filter {
    margin-bottom: 0;
  }

  .dataTables_wrapper .dataTables_filter label {
    font-size: 10px;
    color: #363636;
    order: 2;
  }

  .dataTables_wrapper .dataTables_filter label select,
  .dataTables_wrapper .dataTables_filter label input {
    border-radius: 22px;
    display: block !important;
    margin-bottom: 5px;
    order: 1;
  }

  .dataTables_wrapper .dataTables_filter label input {
    margin-top: 5px;
  }

  .dataTables_wrapper .dataTables_info {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #363636;
  }

  .dataTables_wrapper .dataTables_paginate {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dataTables_wrapper .dataTables_paginate .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 425px) {
  .section {
    padding: 20px 0;
  }

  .card_content .card_body {
    padding: 20px 5px;
  }

  .dataTables_wrapper {
    padding: 20px 5px;
  }

  .navbar_user .avatar_infos {
    display: none;
  }
}

@media (max-width: 320px) {
  .sidebar,
  .aside {
    width: 280px !important;
  }

  .footer .div_footer {
    flex-direction: column;
  }

  .footer .div_footer .div_copy,
  .footer .div_footer .div_social {
    text-align: center;
    justify-content: center;
  }

  .footer .div_footer .div_copy .back_icon,
  .footer .div_footer .div_social .back_icon {
    width: 30px;
    height: 30px;
  }

  .footer .div_footer .div_copy .back_icon svg,
  .footer .div_footer .div_social .back_icon svg {
    width: 10px;
    height: 10px;
  }
}

