@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

@font-face {
  font-family: JetBrainsMono-ExtraBold;
  src: url(/fonts/JetBrainsMono-ExtraBold.woff?bd0cd45ba80883a87d122a5b23f92a18) format("woff"), url(/fonts/JetBrainsMono-ExtraBold.woff?bd0cd45ba80883a87d122a5b23f92a18) format("woff2");
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-weight: 800;
}

@font-face {
  font-family: JetBrainsMono-Bold;
  src: url(/fonts/JetBrainsMono-Bold.woff?896f23850b33cd1df94eb955d4b60079) format("woff"), url(/fonts/JetBrainsMono-Bold.woff2?a492f7427b1561cc96ace88f5756d94e) format("woff2");
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-weight: 700;
}

@font-face {
  font-family: JetBrainsMono-Regular;
  src: url(/fonts/JetBrainsMono-Regular.woff?2fe9a2bdaa6daf61e770a2edb7252040) format("woff"), url(/fonts/JetBrainsMono-Regular.woff2?21ba2c11275a07ccf3890fbeab585525) format("woff2");
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-weight: 400;
}

/* | DISPLAY |
    -> Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens.
*/

/* | FEX DIRECTION |
    -> Define a direção dos flex itens.
    -> Por padrão ele é row (linha), por isso quando o display: flex; é adicionado, os elementos ficam em linha, um do lado do outro.
*/

/* | FLEX WRAP |
    -> Define se os itens devem quebrar ou não a linha. Por padrão eles não quebram linha.
*/

/* | FLEX FLOW |
    -> O flex-flow é um atalho para as propriedades flex-direction e flex-wrap.
*/

/* | JUSTIFY CONTENT |
    -> Alinha os itens flex no container de acordo com a direção.
    -> A propriedade só funciona se os itens atuais não ocuparem todo o container.
    -> Isso significa que ao definir flex: 1; ou algo similar nos itens, a propriedade não terá mais função.
*/

/* | ALIGN ITEMS |
    -> O align-items alinha os flex itens de acordo com o eixo do container.
    -> O alinhamento é diferente para quando os itens estão em colunas ou linhas.
*/

/* | ALIGN CONTENT |
    -> Alinha as linhas do container em relação ao eixo vertical.
    -> A propriedade só funciona se existir mais de uma linha de flex-itens. Para isso o flex-wrap precisa ser wrap.
*/

/* | ALIGN SELF |
    -> O align-self serve para definirmos o alinhamento específico de um único flex item dentro do nosso container.
    -> Caso um valor seja atribuído, ele passara por cima do que for atribuído no align-items do container.
*/

/* | FLEX GROW |
    -> Define a habilidade de um flex item crescer.
    -> Por padrão o valor é zero, assim os flex itens ocupam um tamanho máximo relacionado o conteúdo interno deles ou ao width definido.
*/

/* | FLEX BASIS |
    -> Indica o tamanho inicial do flex item antes da distribuição do espaço restante.
*/

/* | FLEX SHRINK |
    -> Valor padrão, permite que os itens tenham os seus tamanhos (seja esse tamanho definido a partir de width ou flex-basis) reduzidos para caber no container.
    -> Não permite a diminuição dos itens, assim um item com flex-basis: 300px; nunca diminuirá menos do que 300px, mesmo que o conteúdo não ocupe todo esse espaço.
    -> Um item com shrink: 3 diminuirá 3 vezes mais que um item com 1.
*/

/* | FLEX |
    -> Atalho para as propriedades flex-grow, flex-shrink e flex-basis.
    -> Geralmente você verá a propriedade flex nos flex itens ao invés de cada um dos valores separados.
*/

/* | ORDER |
    -> Modifica a ordem dos flex itens.
    -> Sempre do menor para o maior, assim order: 1, aparece na frente de order: 5.
*/

/* | GRID TEMPLATE |
    -> Escreve linhas e column ao mesmo tempo.
    -> grid-template: auto 1fr auto / auto 1fr auto;
    -> A "/" separa as linhas das colunas
*/

/* | GRID TEMPLATE COLLUMN |
    -> Exemplo: grid-template-collumns: repeat(12, 1fr);
    -> Indica que o grid vai ter 12 colunas, e todas com o mesmo tamanho(1fr)
    -> Evita de repetir o "1fr" 12 vezes para indiciar que existem 12 colunas
    -> Exemplo: grid-template-collumns: repeat(auto-fit, minmax(150px, 1fr);
    -> auto-fit (conforme a tela aumenta, os itens aumentam para ocupar todo o espaço)
    -> o 1fr da função minmax faz com que os itens possuam o mesmo tamanho.
    -> o 150px da função minmax faz com que os itens tenham no minimo 150px quando a tela diminui.
*/

/* | GRID COLLUMN |
    -> Especifica o tamanho e a localização do item.
    -> grid-collum: 1 / 13; indica que o item inicia na coluna 1 e tem tamanho que vai até a coluna 13
    -> Ainda to confuso com essa, pois o exemplo acima significa que o item tem tamanho de 12 colunas.
*/

/* | PACE ITEMS |
    -> Propriedade abreviada para align-itemns & justify-itemns
    -> Se o segundo valor não for informado, o primeiro é utilizado para os dois.
*/

/* width: clamp(min, actual, max)
    -> Define um tamanho minimo, atual e o máximo para um elemento.
    -> também funciona para font.
    -> Não funciona no navegador Safari ainda.
*/

/* aspect-ratio: width / heihgt;
    -> Para Imagens e Videos.
    -> Exemplo: apect-ratio: 16 / 9
    -> O video ou a imagem sempre vai manter essa proporção de tamanho independente da tela aumentar ou diminuir.
    -> Não funciona em nenhum navegador estável ainda.
*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: #EAECEF;
}

.title {
  font-family: JetBrainsMono-ExtraBold;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: #24292E;
  margin-bottom: 0;
}

.subtitle {
  font-family: JetBrainsMono-Bold;
  letter-spacing: 1.9px;
  color: #24292E;
  margin-bottom: 0;
}

.text {
  font-family: JetBrainsMono-Regular;
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #24292E;
  margin-bottom: 0;
}

.text_small {
  font-family: JetBrainsMono-Regular;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #24292E;
  margin-bottom: 0;
}

.pointer {
  font-weight: 900;
  font-size: 50px;
  color: #FF4655;
}

.sobtitle {
  font-family: JetBrainsMono-ExtraBold;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FF4655;
  margin-bottom: 0;
}

.divider__ {
  width: 80px;
  height: 5px;
  background-color: #FF4655;
  margin: 5px auto 5px auto;
}

.div__title {
  text-align: center;
}

.div__title .title {
  font-size: 60px;
  text-transform: initial;
  margin-top: 50px;
  margin-bottom: 40px;
  line-height: 1.2;
}

.div__title .subtitle {
  color: #6A737D;
  line-height: 2;
  margin-bottom: 30px;
}

.action__icon {
  z-index: 3;
  position: absolute;
  top: 100px;
  right: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 1px solid #EAECEF;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action__icon::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(/images/arrow.svg?e56d764b46fba446f076411140e9dd0c);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-origin: border-box;
  background-clip: border-box;
}

.action__icon.aciton__top {
  transform: rotate(180deg);
}

.action__icon.aciton__right {
  transform: rotate(270deg);
}

.action__icon.aciton__left {
  transform: rotate(90deg);
}

.button__solid {
  min-width: 150px;
  height: auto;
  padding: 10px 20px;
  margin: 5px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  background-color: #24292E;
  text-decoration: none;
  outline: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.button__solid:hover {
  color: #FFFFFF;
  background-color: #FF4655;
  box-shadow: rgba(255, 63, 82, 0.5) 0px 1px 40px;
}

.social__ {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.social__ .social__nav .social__item {
  margin: 0 5px;
}

.social__ .social__nav .social__item .social__link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #24292E;
}

.social__ .social__nav .social__item .social__link .social__icon {
  width: 15px;
  height: auto;
}

.social__ .social__nav .social__item .social__link:hover {
  background-color: #FF4655;
}

.div_form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.div_form .section_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.div_form form {
  width: 100%;
}

.div_form form fieldset {
  width: 100%;
}

.form_item {
  flex: 1;
  margin: 10px;
}

.form_item.item_center {
  display: flex;
  justify-content: center;
}

.form_item.right {
  display: flex;
  justify-content: flex-end;
}

label {
  font-family: JetBrainsMono-Regular;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #24292E;
}

.form-text {
  font-size: 14px;
  color: #FF4655;
}

.form-control {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 7px;
  background-color: transparent;
  border: 1px solid #EAECEF;
  font-family: JetBrainsMono-Regular;
}

textarea.form-control {
  height: 150px;
  resize: none;
}

.article__ {
  width: 100%;
  height: auto;
  border: 1px solid #EAECEF;
  border-radius: 7px;
  background-color: #FFFFFF;
  margin: 30px 0;
  cursor: pointer;
}

.article__:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}

.article__ .post__ {
  padding: 50px;
  position: relative;
}

.article__ .post__ .post__category {
  position: absolute;
  top: -20px;
  left: 50px;
  width: 120px;
  height: 40px;
  color: #24292E;
  background-color: #FF4655;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__ .post__ .post__info {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #EAECEF;
  padding: 15px;
}

.article__ .post__ .post__info .text_small {
  color: #6A737D;
}

.article__ .post__ .post__header {
  padding: 20px;
  margin-bottom: 50px;
}

.article__ .post__ .post__header .title {
  margin-bottom: 20px;
}

.article__ .post__ .post__content {
  margin-bottom: 50px;
  padding: 40px 20px;
  background-color: #F5F6F7;
}

.article__ .post__ .post__content .subtitle {
  margin-bottom: 20px;
}

.article__ .post__ .post__content .text {
  margin: 15px 0;
}

.article__ .post__ .post__action {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article__ .post__ .post__action.button__solid {
  border-radius: 0;
  border-bottom-right-radius: 7px;
}

.body__ {
  width: 100%;
  height: 100%;
  font-family: JetBrainsMono-Regular;
  color: #24292E;
  background-color: #FFFFFF;
  overflow: hidden;
}

.content__ {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
}

.aside__ {
  width: 350px;
  overflow: hidden;
  position: relative;
}

.aside__:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.aside__ .aside__content {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #EAECEF;
  position: relative;
}

.aside__ .aside__content .action__icon {
  z-index: 3;
  position: absolute;
  top: 100px;
  right: 0;
}

.aside__ .aside__content .aside__header {
  width: 100%;
  height: 200px;
  background-color: #F5F6F7;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.aside__ .aside__content .aside__header .aside__img {
  position: absolute;
  bottom: -125px;
  width: 250px;
  height: 250px;
  border: 7px solid #F5F6F7;
  background-color: #F5F6F7;
  border-radius: 100%;
}

.aside__ .aside__content .aside__header .aside__img .img__ {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.aside__ .aside__content .aside__body {
  padding: 130px 30px 30px 30px;
}

.aside__ .aside__content .aside__body .aside__infos .title {
  font-size: 25px;
  text-align: center;
  letter-spacing: normal;
  margin-bottom: 20px;
}

.aside__ .aside__content .aside__body .aside__infos .text,
.aside__ .aside__content .aside__body .aside__infos .text_small {
  margin-top: 25px;
}

.list__ {
  list-style: none;
}

.list__ .list__item {
  display: flex;
  margin-bottom: 15px;
}

.list__ .list__item img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.main__ {
  width: calc(100% - 350px);
  height: inherit;
  overflow: hidden;
  padding: 0 40px;
}

.navbar__ {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #EAECEF;
  padding: 0;
}

.navbar__ .navbar__menu {
  height: 70px;
}

.navbar__ .navbar__menu .navbar__item {
  height: inherit;
}

.navbar__ .navbar__menu .navbar__item .navbar__link {
  height: inherit;
  color: #24292E;
  border-bottom: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__ .navbar__menu .navbar__item .navbar__link:hover,
.navbar__ .navbar__menu .navbar__item .navbar__link.active {
  border-bottom: 1px solid #FF4655;
}

.navbar__ .navbar__menu .navbar__item .navbar__link.sidebar__action .line__icon {
  position: relative;
  width: 30px;
  height: 2px;
  border: none;
  border-radius: 7px;
  background-color: #24292E;
}

.navbar__ .navbar__menu .navbar__item .navbar__link.sidebar__action .line__icon::before,
.navbar__ .navbar__menu .navbar__item .navbar__link.sidebar__action .line__icon::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  border: none;
  border-radius: 7px;
  background-color: #24292E;
}

.navbar__ .navbar__menu .navbar__item .navbar__link.sidebar__action .line__icon::before {
  margin-top: -10px;
}

.navbar__ .navbar__menu .navbar__item .navbar__link.sidebar__action .line__icon::after {
  margin-top: 10px;
}

.section__ {
  width: 100%;
  height: calc(100vh - 70px - 91px);
  overflow: auto;
  padding-top: 30px;
}

.section__ .div__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__ {
  width: 100%;
  height: 60px;
  border-top: 1px solid #EAECEF;
}

.footer__ .footer__content {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__ .footer__content .div_copy {
  flex: 1;
}

.footer__ .footer__content .social__ {
  flex: 2;
}

@media (max-width: 730px) {
  .footer .footer__content {
    flex-direction: column;
  }

  .footer .footer__content .div_copy {
    text-align: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .footer .footer__content .div_social {
    justify-content: center;
  }
}

@media (max-width: 430px) {
  .footer .footer__content {
    padding: 0 10px;
  }

  .footer .footer__content .div_social .nav .nav-item {
    margin: 0 5px;
  }

  .footer .footer__content .div_social .nav .nav-item .nav-link {
    width: 40px;
    height: 40px;
    padding: 5px;
  }

  .footer .footer__content .div_social .nav .nav-item .nav-link img {
    width: 15px;
    height: auto;
  }
}

