// | DATATABLE - COMPONENTS |
.dataTables_wrapper {
    width: 100%;
    height: auto;
    // padding: 40px 20px 20px 20px;
    // border: 1px solid $border;
    border-radius: 10px;
    background-color: $white;

    // Itens acima da tabela
    .dataTables_length, .dataTables_filter {
        margin-bottom: 15px;

        label {
            order: 2;

            select, input {
                display: block !important;
                order: 1;
            }
        }
    }

    // Items Abaixo da tabela
    .dataTables_info, .dataTables_paginate {
        margin-top: 15px !important;
    }

    .dataTables_info {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $black;
    }
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 100% !important;
    margin: 0 !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
   justify-content: center !important;
}

.dataTables_scroll, .div_table_normal {
    padding: 0 10px;
    border: 1px solid $border;
    border-radius: 10px;
}

.table thead th {
    border-bottom: none !important;
    border-bottom: 1px solid $border !important;
}

// | DATATABLE & TABLE |
.dataTable, .table {
    background-color: $white;

    thead th {
        height: 30px;
        vertical-align: inherit;
        font-size: 12px;
        letter-spacing: 2px;
        color: $color_pri;
        text-transform: uppercase;
        // text-align: center;
        border-top: none;
    }

    tbody tr:hover {
        background-color: $snow;
    }

    tbody td {
        padding: 20px .75rem;
        vertical-align: inherit;
        font-size: 13px;

        &.text_table {
            @include truncate(200px);
        }
    }

    tbody tr:hover {
        td.text_table {
            white-space: normal !important;
        }
    }
}

.table {
    border-radius: 4px;
    border-collapse: separate;

    thead th {
        text-align: center;
    }
}

.div_table_action {
    @include display;
    @include align(center);
    @include justify(center);
    @include flex_wrap(wrap);
}
