// | COLORS |
$color: #FF4655;
$white: #FFFFFF;
$snow: #F5F6F7;
$border: #EAECEF;
$grey: #6A737D;
$black: #24292e;

// $gradient: radial-gradient(circle, #ff4655, #e53d58, #c93658, #ae3155, #922d50);

$gradient: radial-gradient(circle, #ff4655, #f84455, #f24355, #eb4154, #e44054);
