// | COLORS |
$color_pri: #9FDE89;
$color_sec: #1FBB55;
$white: #FFFFFF;
$snow: #F4F3F8;
$grey: #EFEFEF;
$border: #E7E9EE;
$black: #363636;
$yellow: #FFB657;
$blue: #0086FF;
$red: #FF7070;
$color_rgba: rgba(71, 197, 81, .1);

// | FONTS |
$font_black: JetBrainsMono-ExtraBold;
$font_bold: JetBrainsMono-Bold;
$font_regular: JetBrainsMono-Regular;
$font_light: JetBrainsMono-Light;
