// | ASIDE |

.aside__ {
    position: relative;
    width: 350px;
    overflow: hidden;
    background-color: $white;
    transition: all 0.8s ease;

    &:hover {
        @include shadow__(0 0 0.75rem 0 rgba(0, 0, 0, .1), 0 0.625rem 30px 0 rgba(0, 0, 0, .2));
    }

    .aside__content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        border-right: 0.063rem solid $border;

        .action__icon {
            z-index: 3;
            position: absolute;
            top: 10px;
            right: 10px;
            display: none;
        }

        .aside__header {
            position: relative;
            width: 100%;
            height: 12.5rem;
            padding: 0.938rem;
            background-color: $snow;
            @include display__flex;
            @include align__items(center);
            @include justify__content(center);
            @include flex__direction(column);

            .aside__img {
                position: absolute;
                bottom: -125px;
                width: 15.625rem;
                height: 15.625rem;
                border: 0.44rem solid $snow;
                border-radius: 100%;
                background-color: $snow;

                .img__ {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        .aside__body {
            padding: 8.125rem 1.875rem 1.875rem 1.875rem;

            .aside__infos {
                .title {
                    margin-bottom: 1.25rem;
                    font-size: 1.563rem;
                    letter-spacing: normal;
                    text-align: center;
                }

                .text, .text_small {
                    margin-top: 1.563rem;
                }
            }
        }
    }
}

.aside__hidden {
    width: 0;
    opacity: 0;
}

.aside__mobile {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px !important;
}

// |  MEDIA QUERIES |

@media(max-width: 900px) {
    .aside__ {
        width: 0;
    }
}

@media(max-width: 375px) {
    .aside__ .aside__content .action__icon {
        @include display__flex;
    }

    .aside__mobile {
        width: 100% !important;
    }
}
