// | ASIDE |
.aside__ {
    position: relative;
    width: 350px;
    // height: calc(100vh - 91px);
    overflow: hidden;

    &:hover {
        @include shadow__(0 0 0.75rem 0 rgba(0, 0, 0, .1), 0 0.625rem 30px 0 rgba(0, 0, 0, .2));
    }

    .aside__content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        border-right: 0.063rem solid $border;

        .action__icon {
            z-index: 3;
            position: absolute;
            top: 100px;
            right: 0;
        }

        .aside__header {
            position: relative;
            width: 100%;
            height: 12.5rem;
            padding: 0.938rem;
            background-color: $snow;
            @include display__flex;
            @include align__items(center);
            @include justify__content(center);
            @include flex__direction(column);

            .aside__img {
                position: absolute;
                bottom: -125px;
                width: 15.625rem;
                height: 15.625rem;
                border: 0.44rem solid $snow;
                border-radius: 100%;
                background-color: $snow;

                .img__ {
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }

        .aside__body {
            padding: 8.125rem 1.875rem 1.875rem 1.875rem;

            .aside__infos {
                .title {
                    margin-bottom: 1.25rem;
                    font-size: 1.563rem;
                    letter-spacing: normal;
                    text-align: center;
                }

                .text, .text_small {
                    margin-top: 1.563rem;
                    // text-align: justify;
                }
            }
        }
    }
}

.list__ {
    list-style: none;
    // padding-left: 0;

    .list__item {
        margin-bottom: 0.938rem;
        @include display__flex;

        img {
            width: 1.563rem;
            height: 1.563rem;
            margin-right: 0.625rem;
        }
    }
}
