// | BUTTONS |

.action__icon {
    z-index: 3;
    position: absolute;
    top: 100px;
    right: 0;
    cursor: pointer;
    width: 2.813rem;
    height: 2.813rem;
    border: 0.063rem solid $border;
    border-radius: 0.625rem;
    background-color: $white;
    // @include shadow__(0 1.25rem 1.25rem -0.625rem rgba(0, 0, 0, 0.2));
    @include display__flex;
    @include align__items(center);
    @include justify__content(center);
    transition: all 0.8s ease;

    &::before  {
        content: '';
        position: absolute;
        width: 1.125rem;
        height: 1.125rem;
        background-image: url('../../../../public/assets/medias/svgs/close.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-origin: border-box;
        background-clip: border-box;
    }

    &.aciton__top {
        transform: rotate(180deg);
    }

    &.aciton__right {
        transform: rotate(270deg);
    }

    &.aciton__left {
        transform: rotate(90deg);
    }

    &:hover {
        background-color: $color;
    }
}

.button__solid {
    cursor: pointer;
    min-width: fit-content;
    height: auto;
    padding: 0.625rem 1.25rem;
    margin: 0.313rem;
    border: none;
    border-radius: 0.5rem;
    background-color: $black;
    outline: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: $white;

    &:hover {
        color: $white;
        background-color: $color;
        @include shadow__(rgba(283, 63, 82, 0.5) 0rem 0.063rem 2.5rem);
    }
}
