// | CONTENT |

.content__ {
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    @include display__flex;
}

// |  MEDIA QUERIES |

@media(max-width: 500px) {
    .content__ {
        height: calc(100vh - 100px);
    }
}
