// | FOOTER |
.footer__ {
    width: 100%;
    height: 60px;
    border-top: 1px solid $border;

    .footer__content {
        width: 100%;
        height: 100%;
        padding: 0 50px;
        @include display_flex;
        @include align_items(center);
        @include justify_content(between);

        .div_copy {
            flex: 1;
        }

        .social__ {
            flex: 2;
        }
    }
}

// |  MEDIA QUERIES |
@media (max-width: 730px) {
    .footer {
        .footer__content {
            @include flex_direction(collumn);

            .div_copy {
                text-align: center;
                @include justify_content(center);
                margin-bottom: 25px;
            }

            .div_social {
                @include justify_content(center);
            }
        }
    }
}

@media (max-width: 430px) {
    .footer {
        .footer__content {
            padding: 0 10px;

            .div_social {
                .nav {
                    .nav-item {
                        margin: 0 5px;

                        .nav-link {
                            width: 40px;
                            height: 40px;
                            padding: 5px;

                            img {
                                width: 15px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
