.div_form {
    width: 100%;
    height: auto;
    @include display_flex;
    @include justify_content(center);
    @include flex_direction(collumn);

    .section_row {
        width: 100%;
        @include display_flex;
        @include align_items(center);
        @include justify_content(center);
        @include flex_wrap(wrap);
    }

    form {
        width: 100%;

        fieldset {
            width: 100%;
        }
    }
}

.form_item {
    flex: 1;
    margin: 10px;

    &.item_center {
        @include display_flex;
        @include justify_content(center);
    }

    &.right {
        @include display_flex;
        @include justify_content(end);
    }
}

label {
    font-family: $font_pattern;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $black;
}

.form-text {
    font-size: 14px;
    color: $color;
}

.form-control {
    width: 100%;
    height: 50px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid $border;
    font-family: $font_pattern;
}

textarea.form-control {
    height: 150px;
    resize: none;
}
