// | TYPOGRAPHY |

.title {
    font-family: $font_title;
    letter-spacing: 0.144rem;
    text-transform: uppercase;
    color: $black;
    margin-bottom: 0;
}

.subtitle {
    font-family: $font_subtitle;
    letter-spacing: 0.119rem;
    color: $black;
    margin-bottom: 0;
}

.text {
    font-family: $font_pattern;
    font-size: 0.938rem;
    letter-spacing: 0.094rem;
    color: $black;
    margin-bottom: 0;
}

.text_small {
    font-family: $font_pattern;
    font-weight: 300;
    font-size: 0.813rem;
    letter-spacing: 0.094rem;
    color: $black;
    margin-bottom: 0;
}

.pointer {
    font-weight: 900;
    font-size: 3.125rem;
    color: $color;
}

.sobtitle {
    font-family: $font_title;
    font-size: 1.25rem;
    letter-spacing:0.313rem;
    text-transform: uppercase;
    color: $color;
    margin-bottom: 0;
}

.divider__ {
    width: 5rem;
    height:0.313rem;
    background-color: $color;
    margin:0.313rem auto 0.313rem auto;
}

.div__title {
    text-align: center;

    .title {
        font-size: 3.75rem;
        text-transform: initial;
        margin-top: 3.125rem;
        margin-bottom: 2.5rem;
        line-height: 1.2;
    }

    .subtitle {
        color: $grey;
        line-height: 2;
        margin-bottom: 1.875rem;
    }
}
