// | DROPDOWNS |

.dropdown {
    .dropdown-toggle {
        &::after {
            content: "\ea6a";
            font-family: 'Nucleo Outline';
            font-size: 9px;
            color: $black;
            margin-left: 10px;
            border: none !important;
        }
        
        &[aria-expanded="true"] {
            &.back_text {
                background-color: $snow;
            }

            &::after {
                content: "\ea6d";
                font-family: 'Nucleo Outline';
                font-size: 9px;
                color: $black;
                margin-left: 10px;
            }
        }
    }

    .dropdown-menu {
        padding: 20px;
        border-radius: 7px;
        border: 1px solid $snow;
        background-color: $white;
        @include shadow(0px 0px 28px 0px rgba(82, 63, 105, 0.13));

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            margin-top: -4px;
            margin-left: -4px;
            z-index: -1;
            border-right: 4px solid transparent;
            border-bottom: 4px solid $white;
            border-left: 4px solid transparent;
        }

        .dropdown-item {
            font-family: $font_light;
            font-weight: 600;
            font-size: 14px;
            color: $black;
            padding: 5px;
            margin-left: 0;
            cursor: pointer !important;

            .icon {
                font-weight: 500;
                margin-right: 10px;
            }

            &:before {
                content: '.';
                color: $color_pri;
            }

            &:hover {
                border-radius: 7px;
                background-color: $color_rgba;

                &:before {
                    color: $color_sec;
                }
            }
        }
    }
}

.drop_search {
    width: 250px;

    .nav-link::after {
        display: none;
    }

    .dropdown-menu {
        padding: 5px;

        &::before, .dropdown-item::before {
            display: none;
        }

        .dropdown-item:hover {
            background-color: transparent;
        }
    }
}

.drop_user {
    // position: absolute;
    // will-change: transform;
    // top: 0px;
    // left: 0px;
    // transform: translate3d(820px, 74px, 0px);

    width: 250px;
    padding: 0 !important;
    border-radius: 0;
    border: 1px solid $snow;
    background-color: $white;
    @include shadow(0px 0px 28px 0px rgba(82, 63, 105, 0.13));

    .drop_header {
        width: 100%;
        height: 60px;
        background-color: $color_pri;
        padding: 15px;

        .avatar {
            border: none;
            margin-top: 17px;
        }
    }

    .drop_body {
        padding: 50px 0 20px 0;

        .dropdown-item {
            font-family: $font_light;
            font-size: 16px;
            color: $black;

            .icon {
                font-weight: 500;
                margin-left: 15px;
            }

            &:before {
                display: none;
            }
        }
    }

    .drop_footer {
        padding: 10px 25px;
        border-top: 1px solid $border;
        @include display;
        @include align(center);
        @include justify(end);
    }
}
