// | MODAL |
.modal {
    .modal-content {
        border: none;
        border-radius: 12px;
        background-color: $white;
    }

    .modal-header {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-color: $border;
        padding: 0;

        .link_action {
            position: absolute;
            top: 0;
            right: 0;
        }

        .title {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1.7px;
            margin-bottom: 0;
        }
    }

    .modal-body {
        @include display;
        @include align(center);
        @include justify(center);
        @include flex_direction(collumn);
        padding: 30px;

        .div_title .title {
            font-size: 17px;
            color: $black;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &.modal_simple {
        .modal-header {
            width: 100%;
            height: auto;
            border-bottom: none;
            background-color: $snow;
            position: relative;
        }
    }

    &.modal_padrao {
        .modal-header {
            height: 150px;
            border-bottom: none;
            @include gradient;

            img {
                width: 250px;
                height: auto;
                position: absolute;
                top: 15px;
                right: 30px;
            }
        }
    }
}
