// | CSS UTILITARIOS |

.none {
    display: none;
}

.small {
    min-width: 100px;
    max-width: 100px;
}

.large {
    width: calc(100% - 100px) !important;
}

.full {
    width: 100% !important;
}
