// | ASIDE |
.aside__ {
    width: 350px;
    // height: calc(100vh - 91px);
    overflow: hidden;
    position: relative;

    &:hover {
        @include shadow(0 0 12px 0 rgba(0,0,0,.1), 0 10px 30px 0 rgba(0,0,0,.2));
    }

    .aside__content {
        width: 100%;
        height: 100%;
        overflow: auto;
        border-right: 1px solid $border;
        position: relative;

        .action__icon {
            z-index: 3;
            position: absolute;
            top: 100px;
            right: 0;
        }

        .aside__header {
            width: 100%;
            height: 200px;
            background-color: $snow;
            padding: 15px;
            @include display_flex;
            @include align_items(center);
            @include justify_content(center);
            @include flex_direction(collumn);
            position: relative;

            .aside__img {
                position: absolute;
                bottom: -125px;
                width: 250px;
                height: 250px;
                border: 7px solid $snow;
                background-color: $snow;
                border-radius: 100%;

                .img__ {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    cursor: pointer;
                }
            }
        }

        .aside__body {
            padding: 130px 30px 30px 30px;

            .aside__infos {
                .title {
                    font-size: 25px;
                    text-align: center;
                    letter-spacing: normal;
                    margin-bottom: 20px;
                }

                .text, .text_small {
                    margin-top: 25px;
                    // text-align: justify;
                }
            }
        }
    }
}


.list__ {
    list-style: none;
    // padding-left: 0;

    .list__item {
        @include display_flex;
        margin-bottom: 15px;

        img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
    }
}
