// | NAVBAR |
.navbar__ {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid $border;
    padding: 0;

    .navbar__menu {
        height: 70px;

        .navbar__item {
            height: inherit;

            .navbar__link {
                height: inherit;
                color: $black;
                border-bottom: 1px solid transparent;
                padding-left: 20px;
                padding-right: 20px;
                @include display_flex;
                @include align_items(center);
                @include justify_content(center);

                &:hover, &.active {
                    border-bottom: 1px solid $color;
                }

                &.sidebar__action {
                    .line__icon {
                        position: relative;
                        width: 30px;
                        height: 2px;
                        border: none;
                        border-radius: 7px;
                        background-color: $black;

                        &::before, &::after {
                            position: absolute;
                            content: '';
                            width: 30px;
                            height: 2px;
                            border: none;
                            border-radius: 7px;
                            background-color: $black;
                        }

                        &::before {
                            margin-top: -10px;
                        }

                        &::after {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
